/.vscode
/Examples/fonts/Source/fonts.exe
/Examples/formula_1/Source/libvorbisfile-3.dll
/Examples/formula_1/Source/libFLAC-8.dll
/Examples/formula_1/Source/libmpg123-0.dll
/Examples/formula_1/Source/libogg-0.dll
/Examples/formula_1/Source/libvorbis-0.dll
/Examples/formula_1/Source/formula_1.exe
/Examples/rects/Source/libwavpack-1.dll
/Examples/rects/Source/rects.exe
/Examples/rects/rects.pdx
/Examples/images/images.pdx
/Examples/formula_1/formula_1.pdx
/Examples/fonts/fonts.pdx
/Examples/fonts/fonts_DEVICE.pdx
/Examples/formula_1/formula_1_DEVICE.pdx
/Examples/images/images_DEVICE.pdx
/Examples/rects/rects_DEVICE.pdx
/build
/Examples/fonts/Source/libwavpack-1.dll
/Examples/fonts/Source/pdex.dll
/Examples/fonts/Source/pdex.elf
/Examples/formula_1/Source/libwavpack-1.dll
/Examples/formula_1/Source/pdex.dll
/Examples/formula_1/Source/pdex.elf
/Examples/images/Source/images.exe
/Examples/images/Source/libwavpack-1.dll
/Examples/images/Source/pdex.dll
/Examples/images/Source/pdex.elf
/Examples/rects/Source/pdex.dll
/Examples/rects/Source/pdex.elf
/MyTempOutputFolder/extension.log
/MyTempOutputFolder
